{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container'>
<div class='card'>
    <img src={{ product.product_image.url }} class="card-img-top" alt="...">
    <div class='card-body'>
        <h6>{{ product.name }}</h6>
        <p class="card-text">{{ product.description }}</p>
        {% if product.discount %}
         
         <strike> <h4> <small class="text-muted">Price: ₹ {{ product.price}}</small></h4></strike>
         <h4 > <small  class="text-muted">Discount Price: ₹ {{ product.discount }}</small></h4>
         {% else %}
         <h4 > <small class="text-muted" >Price: ₹ {{ product.price}}</small></h4>
         {% endif %}
    </div>
</div>
<div>
{% endblock content %}
